/* Gitignore 
 *  Things we dont git to check for diffs */

*.zip
*.o
*.so
*.jpg
*.csv
TRAPSat/TRAPSat_cFS/cfs/build/cpu1/exe/ram/logs/CFS_Boot.out
TRAPSat/TRAPSat_cFS/cfs/build/cpu1/exe/ram/logs/CFS_Boot.err
TRAPSat/TRAPSat_cFS/cfs/build/cpu1/exe/ram/logs/reboot.txt


